.container {
    max-width: 300px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}

.container a {
    font-weight: bold;
}

.container a:hover {
    color: #8b8b8b;
    cursor: pointer;
    text-decoration: underline;
}

.container a::after {
    content: " \1F806";
}