.container {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal {
  width: 40vw;
  height: 50vh;
  border-radius: 10px;
  background: white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
